<form method='get' action='/quizes/<%= quiz.id %>/answer'>
  <p>Pregunta: <%= quiz.pregunta %> </p>
  <br>
  <p><input type="text" name="respuesta" value=""></p>
  <br>
  <p><input type="submit" value="Enviar"> </p>
</form>

<br><br>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
<br><br>


<%for(index in quiz.Comments){%>
      <%
      if(index==0){
      %>
      <p><strong>Comentarios:</strong></p>
      <%}%>

      <%if(quiz.Comments[index].publicado || session.user){%>
      		<p>- <%=quiz.Comments[index].texto%></p>
      <%} %>
      <%if(!quiz.Comments[index].publicado && session.user){%>
          <p>  <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></p>
      <%} %>
<%}%>
