<p>Estadísticas: </p>
<p style="text-align:left;width:400px;">El número de preguntas es: <%= n1 %></p>
<p style="text-align:left;width:400px;">El número de comentarios totales:<%= n2 %></p>
<p style="text-align:left;width:400px;">El número medio de comentarios por pregunta:<%= n3 %></p>
<p style="text-align:left;width:400px;">El número de preguntas sin comentarios:<%= n4 %></p>
<p style="text-align:left;width:400px;">El número de preguntas con comentarios:<%= n5 %></p>
